<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Netzarbeiter_GroupsCatalog2>
			<version>0.1.0</version>
		</Netzarbeiter_GroupsCatalog2>
	</modules>
	<global>
		<blocks>
			<netzarbeiter_groupscatalog2>
				<class>Netzarbeiter_GroupsCatalog2_Block</class>
			</netzarbeiter_groupscatalog2>
		</blocks>
		<models>
			<netzarbeiter_groupscatalog2>
				<class>Netzarbeiter_GroupsCatalog2_Model</class>
				<resourceModel>netzarbeiter_groupscatalog2_resource</resourceModel>
			</netzarbeiter_groupscatalog2>
			<netzarbeiter_groupscatalog2_resource>
				<class>Netzarbeiter_GroupsCatalog2_Model_Resource</class>
				<entities>
					<product_index><table>groupscatalog_product_idx</table></product_index>
					<category_index><table>groupscatalog_category_idx</table></category_index>
				</entities>
			</netzarbeiter_groupscatalog2_resource>
		</models>
		<helpers>
			<netzarbeiter_groupscatalog2>
				<class>Netzarbeiter_GroupsCatalog2_Helper</class>
			</netzarbeiter_groupscatalog2>
		</helpers>
		<resources>
			<netzarbeiter_groupscatalog2_setup>
				<setup>
					<module>Netzarbeiter_GroupsCatalog2</module>
					<class>Mage_Catalog_Model_Resource_Setup</class>
				</setup>
			</netzarbeiter_groupscatalog2_setup>
		</resources>
		<index>
			<indexer>
				<!-- The code is limited to 30 characters, that is why I leave out the namespace prefix here -->
				<groupscatalog2_product>
					<model>netzarbeiter_groupscatalog2/indexer_product</model>
				</groupscatalog2_product>
				<groupscatalog2_category>
					<model>netzarbeiter_groupscatalog2/indexer_category</model>
				</groupscatalog2_category>
			</indexer>
		</index>
	</global>
	<frontend>
		<events>
			<catalog_product_collection_load_before>
				<observers>
					<netzarbeiter_groupscatalog2>
						<type>singleton</type>
						<model>netzarbeiter_groupscatalog2/observer</model>
						<method>catalogProductCollectionLoadBefore</method>
					</netzarbeiter_groupscatalog2>
				</observers>
			</catalog_product_collection_load_before>
			<catalog_category_collection_load_before>
				<observers>
					<netzarbeiter_groupscatalog2>
						<type>singleton</type>
						<model>netzarbeiter_groupscatalog2/observer</model>
						<method>catalogCategoryCollectionLoadBefore</method>
					</netzarbeiter_groupscatalog2>
				</observers>
			</catalog_category_collection_load_before>
			<catalog_product_load_after>
				<observers>
					<netzarbeiter_groupscatalog2>
						<type>singleton</type>
						<model>netzarbeiter_groupscatalog2/observer</model>
						<method>catalogProductLoadAfter</method>
					</netzarbeiter_groupscatalog2>
				</observers>
			</catalog_product_load_after>
			<catalog_category_load_after>
				<observers>
					<netzarbeiter_groupscatalog2>
						<type>singleton</type>
						<model>netzarbeiter_groupscatalog2/observer</model>
						<method>catalogCategoryLoadAfter</method>
					</netzarbeiter_groupscatalog2>
				</observers>
			</catalog_category_load_after>
		</events>
	</frontend>
	<default>
		<netzarbeiter_groupscatalog2>
			<general>
				<is_active>1</is_active>
				<product_mode>show</product_mode>
				<product_default_show>-1</product_default_show>
				<product_default_hide>-1</product_default_hide>
				<category_mode>show</category_mode>
				<category_default_show>-1</category_default_show>
				<category_default_hide>-1</category_default_hide>
			</general>
		</netzarbeiter_groupscatalog2>
	</default>
</config>